// --------------------------------------------------
// Layout/footer
// --------------------------------------------------

.footer {
  padding: 20px 0 10px;
  text-align: center;
  border-top: 1px solid $gray1;
  background: $white;
  font-size: 14px;

  &-info {
    a {
      color: $primary;
    }
  }

  .copyright {
    text-transform: uppercase;
  }

  &-sns {
    text-transform: uppercase;
    margin-bottom: .5em;
    a {
      &:before {
        content: "·";
        padding: 0 .5em;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }

  @include mq(medium) {
    text-align: left;
    position: relative;

    &-link {
      position: absolute;
      top: .5em;
      right: 10px;
    }

    &-sns {
      text-align: right;
    }
  }
}
