//==============================================
// Layout/header
//==============================================

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: $ink;
  text-align: center;
  z-index: 101;
  i {
    color: $white;
  }
}

.logo {
  position: absolute;
  top: .3em;
  left: .5em;
  margin: 0;
}

.nav {
  text-align: right;
  a {
    text-decoration: none;
  }

  &-toggle {
    background: none;
    color: $white;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
  }

  &-list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    color: $white;
    background: $ink;
    padding: 0 0.2em;
    text-align: left;
    z-index: 10;

    a {
      color: $white;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    li {
      &:before {
        content: "·";
        padding-right: .4em;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }

    &.is-open {
      display: block;
    }
  }

  &-d1 {
    margin: 1em .2em;
    display: inline-block;
  }
}

@include mq(small) {
  .nav {
    text-align: right;
    &-list {
      display: inline-block;
      position: relative;
      top: 0;
      left: auto;
      right: auto;
      max-height: auto;
      overflow: visible;
    }

    &-toggle,
    &-close {
      display: none;
    }
  }
}

@include mq(medium) {
  &-d1 {
    margin: 1em;
  }
}
