<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/d3/3.5.15/d3.js"></script>
  <script src="https://cdn.bootcss.com/d3plus/1.9.8/d3plus.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
  <title>Document</title>
  <style>
    * {margin: 0;padding: 0;}
    .world {position: relative;width: 100%; height: 100vh; max-width: 1200px; margin: 0 auto;}
    .world * {font-family: 'Noto Sans'}
    .d3plus_tooltip_data_title,
    .d3plus_tooltip_data_block:first-child {display: none !important;}
  </style>
</head>
<body>
  <div id="world" class="world"></div>
  <div id="list" class="list">
    <div v-for="item in val">
      <div class="" v-if="item.break">
        <h2>{{ item.target.name }}</h2>
        <p v-if="item.desc">* {{ item.desc }}</p>
      </div>
      <b>{{ item.source.name }}</b>
      <span>{{ item.label }}</span>
      <span v-if="!!item.page">({{ item.page }})</span>
    </div>
  </div>

  <script type="text/javascript">
  class World {
    constructor() {
      this.source = [];
      this.target = [];
      this.link = [];
      this.nodes = [];
      this.val = [];
      this.sourcesLen = 0;

      this.init();
    }
    init() {
      let self = this;

      self.dataFetch();

      setTimeout(function() {
        self.dataSet();
        self.setD3plus();
        self.setVuelist();
      }, 1000);
    }

    dataFetch() {
      let self = this;

      fetch('world-source.json')
        .then(response => response.json())
        .then(item => {
          self.sources = item;
        });
      fetch('world-target.json')
        .then(response => response.json())
        .then(item => {
          self.targets = item;
        });
      fetch('world.json')
        .then(response => response.json())
        .then(item => {
          self.links = item;
        });
    }

    dataSet() {
      let self = this;

      self.sourcesLen = self.sources.length;

      // val
      self.val = self.links;

      self.val.forEach(function(el, i) {
        let rs = self.sources.find(item => item.id === el.source);
        let rt = self.targets.find(item => item.id === el.target);

        el.source = rs.name;
        el.target = rt.name;
        el.desc = rt.desc;

        if (i === 0) {
          el.break = true;
        } else {
          el.break = el.target !== self.val[i-1].target ? true : false;
        }
      });

      // nodes
      let sou = self.sources;
      let tar = self.targets;

      sou.forEach(function(el) {
        el.size = 2;
      });
      tar.forEach(function(el, i) {
        let breker = 8;
        let range = 100;
        el.size = 1;
        el.x = Math.floor(i%breker) * range + range;
        el.y = Math.floor(i/breker) * range + range;
      });
      self.nodes = sou.concat(tar);
    }

    setD3plus() {
      let self = this;

      d3plus.viz()
        .container("#world")
        .type("network")
        .data(self.nodes)
        .nodes(self.nodes)
        .edges({"value": self.val})
        .size("size")
        .id("name")
        .draw()
    }

    setVuelist() {
      let self = this;

      new Vue({
        el: '#list',
        data() {
          return {
            val: self.val,
          };
        }
      });
    }
  }

  let world = new World();
</script>
</body>
</html>
