// --------------------------------------------------
// Pages/home
// --------------------------------------------------

.home {
  margin: 0;
  padding-top: 56px;

  .one { background: $primary; }
  .two { background: $secondary; }
  .three { background: $tertiary; }
  .four { background: $quaternary; }

  .wrapper {
    display: block;
  }

  .column {
    text-align: center;
    padding: 20px 0;
    @include transition(0.5s cubic-bezier(0.235, 0.035, 0, 1.53));

    h1 {
      color: $white;
      margin: 0;
      @include transition(0.5s cubic-bezier(0.235, 0.035, 0, 1.53));
    }

    .more {
      position: relative;
      color: $white;
      padding: 0;
      margin: 0;

      li a {
        display: block;
        color: $white;
        text-decoration: none;

        i {
          vertical-align: middle;
          font-size: 10px;
          margin-left: 5px;
        }
      }
    }
  }

  .item  {
    display: inline-block;
    margin: 10px;
    background: $white;
    padding: 0;
    border: 2px solid $white;
    @include shadow(1px 1px 5px $dark);

    img {
      width: 40px;
    }
  }

  @include mq(large) {
    min-height: 100vh;

    .wrapper {
      display: flex;
      min-height: 100vh;
      align-content: center;
      align-items: stretch;
      justify-content: space-between;
      overflow: hidden;
      @include full-pos();
    }

    .column {
      display: flex;
      flex: 1 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;

      .more {
        margin-top: 30px;
        font-size: 0.8em;
        @include transition(transform 0.5s cubic-bezier(0.235, 0.035, 0, 1.53));
        @include transform(translateY(-20px));

        ul {
          min-height: 200px;
        }
      }

      &:hover {
        flex: 1 180%;
        cursor: pointer;

        h1 {
          font-size: 2.5em;
        }

        .more {
          font-size: 1em;
          @include transform(translateY(5px));
        }
      }
    }
  }
}
