
/* Legacy browser message
-------------------------------------------------- */
#legacy-browser {
	overflow: hidden;
	position: fixed;
	top: 120px;
	left: 50%;
	width: 840px;
	padding-left: 220px;
	padding-right: 100px;
	margin-left: -580px;
	z-index: 1001;
	background-color: skyblue;
	color: $white;
	font-size: 14px;

	p {
		margin: 0 0 10px;
	}

	a {
		color: $white;
		text-decoration: underline;
	}
}

.legacy-pad {
	padding: 20px;
}

#close-browser-guide {
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -16px;
	border: 1px solid $white;
	color: $white;

	.icon {
		&:before {
			content: 'X';
			margin-left: 5px;
		}
	}
}
