// --------------------------------------------------
// Pages/profile
// --------------------------------------------------

.profile {
	dt {
		display: block;
		width: 15%;
		float: left;
	}
	dd {
		display: block;
		width: 75%;
		float: left;
	}
	.txt {
		line-height: 1.8;
		p {
			padding-bottom: 10px;
		}
	}
	.pic {
		li {
			float: left;
		}
		img {
			width: 100px;
			height: 100px;
		}
	}
}
