// --------------------------------------------------
// Pages/profile
// --------------------------------------------------

.profile {
	dt {
		display: block;
		width: 15%;
		float: left;
	}
	dd {
		display: block;
		width: 75%;
		float: left;
	}
	.txt {
    margin-top: 20px;
		p {
			padding-bottom: 10px;
		}
	}
}
