// --------------------------------------------------
// Pages/special
// --------------------------------------------------

.special {
  margin-top: 56px;

  @include mq(medium) {
    margin-top: 64px;
  }

  #wrap {
    background: $white;
  }

  .main {
    padding-top: 0;
    margin-bottom: 0;
    h1 {
      line-height: 0;
      font-size: 0;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  h1.prepare {
    font-size: 3em;
    line-height: 1.5;
    margin-top: 100px;
  }

  div.prepare {
    text-align: center;
    padding: 20px;
    background: $gray2;
    border-radius: 10px;
  }

  .sp {
    &-link {
      a {
        &:before {
          content: "·";
          padding: 0 .5em;
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }

    &-cover {
      img {
        width: 120px;
      }
    }
  }

  // background setting
  @include mq(large) {
    .main {
      background-position: center top;
    }
    .prayer {
      background-image: url($img-special + 'prayer-bg.jpg');
    }
    .lush {
      background-image: url($img-special + 'lush-bg.jpg');
      background-color: $white;
      background-repeat: no-repeat;
    }
    .gturns {
      background-image: url($img-special + 'gturns-bg.jpg');
    }
    .pierrot {
      background-image: url($img-special + 'pierrot-bg.jpg');
    }
    .coin {
      background-image: url($img-special + 'coin-bg.jpg');
    }
    .children {
      background-image: url($img-special + 'children-bg.jpg');
    }
    .grasshopper {
      background-image: url($img-special + 'grasshopper-bg.jpg');
    }
    .death {
      background-image: url($img-special + 'death-bg.jpg');
    }
    .devil {
      background-image: url($img-special + 'devil-bg.jpg');
    }
    .campus {
      background-image: url($img-special + 'campus-bg.jpg');
    }
    .fool {
      background-image: url($img-special + 'fool-bg.jpg');
    }
    .gday {
      background-image: url($img-special + 'gday-bg.jpg');
    }
    .fish {
      background-image: url($img-special + 'fish-bg.jpg');
    }
    .golden {
      background-image: url($img-special + 'golden-bg.jpg');
    }
    .modern {
      background-image: url($img-special + 'modern-bg.jpg');
    }
    .king {
      background-image: url($img-special + 'king-bg.jpg');
    }
    .sos {
      background-image: url($img-special + 'sos-bg2.jpg');
      .bg {
        background-image: url($img-special + 'sos-bg.jpg');
        background-repeat: no-repeat;
      }
    }
    .father {
      background-image: url($img-special + 'father-bg2.jpg');
      .bg {
        background-image: url($img-special + 'father-bg.jpg');
        background-repeat: no-repeat;
      }
    }
    .bye {
      background: #D0E1E4;
    }
    .maria {
      background-image: url($img-special + 'maria-bg.jpg');
      background-color: $white;
      background-repeat: no-repeat;
    }
    .yoruno {
      background-image: url($img-special + 'yoruno-bg.jpg');
    }
    .vacation {
      background-image: url($img-special + 'vacation-bg.jpg');
      background-color: #4ebfdd;
    }
    .gasoline {
      background-image: url($img-special + 'gasoline-bg.jpg');
    }
    .furyoku {
      background-image: url($img-special + 'furyoku-bg.jpg');
    }
    .yoruno {
      background-image: url($img-special + 'yoruno-bg.jpg');
    }
    .kubiori {
      background-image: url($img-special + 'kubiori-bg2.jpg');
      .bg {
        background-image: url($img-special + 'kubiori-bg.jpg');
        background-repeat: no-repeat;
      }
    }
    .ctb {
      background-image: url($img-special + 'ctb-bg.jpg');
    }
    .e3652 {
      background-image: url($img-special + 'e3652-bg.jpg');
    }
    .aine {
      background-image: url($img-special + 'aine-bg.jpg');
    }
    .mars {
      background-image: url($img-special + 'mars-bg.jpg');
      background-color: #833B3C;
      background-repeat: no-repeat;
    }
    .rabbit {
      background-image: url($img-special + 'rabbit-bg.jpg');
      background-color: #f9f9f9;
      background-repeat: no-repeat;
    }
    .ax {
      background-image: url($img-special + 'ax-bg.jpg');
      background-color: #E1E1E1;
      background-repeat: no-repeat;
    }
    .submarine {
      background-image: url($img-special + 'submarine-bg.jpg');
    }
    .gthree {
      background-image: url($img-special + 'gthree-bg.jpg');
    }
  }
}
