@charset 'UTF-8';

/* --------------------------------------------------
 * footer
 * -------------------------------------------------- */
.footer {
	padding: 20px 0 10px;
	font-size: 1.1em;
	line-height: 1.8;
	text-align: center;
	border-top: 1px solid $ash;
	background: $white;

	&-info {
		a {
			color: #337ab7;
		}
	}
	
	.copyright {
		text-transform: uppercase;
	}

	&-sns {
		margin-bottom: .5em;;
		a {
			&:before {
				content: "·";
				padding: 0 .5em;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}

	@include mq(medium) {
		text-align: left;
		position: relative;
		&-link {
			position: absolute;
			top: .5em;
			right: 10px;
		}
		&-sns {
			text-align: right;
		}
	}
}
