@charset 'UTF-8';

/* --------------------------------------------------
 * layout grid
 * -------------------------------------------------- */
html, body {
	min-height: 100%;
}

body {
	background-color: $white;
	-webkit-overflow-scrolling: touch;
}

#wrap {
	-webkit-user-drag: none;
	touch-action: pan-y;

	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: -1;
		background-color: $silver;
		@include transition(all 0.2s);
	}
}


/* layout (.l-*)
-------------------------------------------------- */
.l-wrap {
	@extend %clearfix;
	position: relative;
	margin: 0 auto;
	padding: 0 10px;
	max-width: $w-default;
	@include box-sizing();
}

.l-full {
	padding: 0 5%;
}

/* column ( 12 grid )
-------------------------------------------------- */
$grid-columns	: 12;
$grid-gutter	: 10px;

.row {
	@extend %clearfix;
}

@for $i from 1 through 12 {
	.col-s-#{$i},
	.col-m-#{$i},
	.col-l-#{$i} {
		@include box-sizing;
		float: left;
		position: relative;
		min-height: 1px;
		padding-left: $grid-gutter;
		padding-right: $grid-gutter;
	}
}

// small
@include mq($until: small) {
	@for $i from 1 through 12 {
		.col-s-#{$i} {
			float: none;
		}
	}
}

@include mq(small) {
	@for $i from 1 through 12 {
		.col-s-#{$i} {
			width: 100% / $grid-columns * $i;
		}
	}
}

// medium
@include mq($until: medium) {
	@for $i from 1 through 12 {
		.col-m-#{$i} {
			float: none;
		}
	}
}

@include mq(medium) {
	@for $i from 1 through 12 {
		.col-m-#{$i} {
			width: 100% / $grid-columns * $i;
		}
	}
}

// large
@include mq($until: large) {
	@for $i from 1 through 12 {
		.col-l-#{$i} {
			float: none;
		}
	}
}

@include mq(large) {
	@for $i from 1 through 12 {
		.col-l-#{$i} {
			width: 100% / $grid-columns * $i;
		}
	}
}

.col-s-12,
.col-m-12,
.col-l-12 {
	float: none;
}