// --------------------------------------------------
// Module/box
// --------------------------------------------------

.box-gray {
  margin-top: 3em;
  padding: 2em;
  border-radius: 10px;
  background: $gray2;
}
