//==============================================
// Module/material
//==============================================

$mdc-theme-primary: #222222;
// $mdc-theme-primary: #fcb8ab;
// $mdc-theme-secondary: #feeae6;
// $mdc-theme-on-primary: #442b2d;
// $mdc-theme-on-secondary: #442b2d;

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/button/mdc-button";
@import "@material/typography/mdc-typography";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/elevation/mdc-elevation";


a.mdc-button {
  text-decoration: none;
}

.my-card__media {
  background-image: url("pretty.jpg");
}

.mdc-top-app-bar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  nav {
    display: none;
  }
  @include mq(medium) {
    nav {
      display: block;
      padding: 20px;
      a {
        display: inline-block;
        margin: 0 15px;
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.mdc-drawer--temporary {
  z-index: 500;
  .mdc-drawer__drawer {
    max-width: 200px;
  }
}

.mdc-elevation-wrap {
  display: flex;
  margin: auto;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  > div {
    background: #fff;
    display: inline-flex;
    justify-content: space-around;
    min-height: 80px;
    min-width: 200px;
    padding: 15px;
    margin: 20px;
    align-items: center;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}
