// -----------------------------------------------------------------------------
// mixins
// -----------------------------------------------------------------------------

@mixin full-pos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin clearfix {
  zoom: 1;

  &:before {
    content: '';
    display: block;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin break-word {
  word-break: keep-all;
  word-wrap: break-word;
}

@mixin ellipsis($lines: false) {
  @if ($lines) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap: normal;
  } @else {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}

@mixin full-pos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin v-mid($child:'&-cell') {
  white-space: nowrap;

  #{$child} {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    @content;
  }

  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

// Mixin to customize scrollbars
// @include scrollbars(selector, .5em, foreground, background);
@mixin scrollbars($selector, $size, $foreground-color, $background-color) {
  // For -webkit-
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For -ms-
  @if $selector == null {
    body {
      scrollbar-face-color: $foreground-color;
      scrollbar-arrow-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  } @else {
    #{$selector} {
      scrollbar-face-color: $foreground-color;
      scrollbar-arrow-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }
}
