@charset 'UTF-8';
/// --------------------------------------------------
/// _variables: global variables
/// --------------------------------------------------


// layout
// --------------------------------------------------
$p-default: 5%;
$p-portrait: 10px;
$p-mobile: 5px;

$w-max: 1600px;
$w-default: 1200px;
$w-narrow: 768px;
$w-mobile: 320px;

$w-side: 265px;

$w-base: 1280;

$header-height: 64px;

// image
// --------------------------------------------------
$img: '/assets/img/';
$img-book: '#{$img}book/';
$img-special: '#{$img}special/';

// fonts
// --------------------------------------------------
$font-default: 'Noto Sans', 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', 'Nanum Gothic', '나눔 고딕', '돋움', dotum, sans-serif;
$sans: $font-default;
$serif: 'Noto Serif', serif;
$base-font-size: 15px;
$base-leading-ratio: 1.8;
$spacing: -0.02em;

// color guide
// --------------------------------------------------
$white: #fff;
$black: #000;

$gray0: #FAFAFA;
$gray1: #F5F5F5;
$gray2: #EEEEEE;
$gray3: #E0E0E0;
$gray4: #BDBDBD;
$gray5: #9E9E9E;
$gray6: #757575;
$gray7: #616161;
$gray8: #424242;
$gray9: #212121;

$fog: $gray0;
$ash: $gray1;
$silver-light: $gray2;
$silver: $gray3;
$silver-dark: $gray4;
$gray-light: $gray5;
$gray: $gray6;
$gray-dark: $gray7;
$dark: $gray8;
$ink: $gray9;

$warning: #d92c12;
$confirm: #12c17c;

$primary: #81d4fa;
$secondary: #80cbc4;
$tertiary: #b39ddb;
$quaternary: #ef9a9a;

// easing
// --------------------------------------------------
$ease-in-out: cubic-bezier(.2,.05,.05,1);
$ease-in-out-s: cubic-bezier(.5,0,0,1);
$ease-out: cubic-bezier(0,.5,.5,1);
$ease-bounce: cubic-bezier(.2,1.1,.6,1.2);

$ease-base : cubic-bezier(.19,1,.22,1);
