.l-wrap,
.row,
.clearfix
{
    zoom: 1;
}
.l-wrap:before,
.row:before,
.clearfix:before
{
    display: block; 

    content: '';
}
.l-wrap:after,
.row:after,
.clearfix:after
{
    display: table;
    clear: both; 

    content: '';
}

/* --------------------------------------------------
 * layout grid
 * -------------------------------------------------- */
html,
body
{
    min-height: 100%;
}

body
{
    background-color: #fff;

    -webkit-overflow-scrolling: touch;
}

#wrap
{
    -webkit-user-drag: none;
    touch-action: pan-y;
}
#wrap:after
{
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s; 

    opacity: 0;
    background-color: #ccc;
}

/* layout (.l-*)
-------------------------------------------------- */
.l-wrap
{
    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
    max-width: 960px;
    margin: 0 auto;

        -ms-box-sizing: border-box;
}

/* column ( 12 grid )
-------------------------------------------------- */
.col-s-1,
.col-m-1,
.col-l-1
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-2,
.col-m-2,
.col-l-2
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-3,
.col-m-3,
.col-l-3
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-4,
.col-m-4,
.col-l-4
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-5,
.col-m-5,
.col-l-5
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-6,
.col-m-6,
.col-l-6
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-7,
.col-m-7,
.col-l-7
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-8,
.col-m-8,
.col-l-8
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-9,
.col-m-9,
.col-l-9
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-10,
.col-m-10,
.col-l-10
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-11,
.col-m-11,
.col-l-11
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-12,
.col-m-12,
.col-l-12
{
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    padding-right: 10px; 
    padding-left: 10px;

        -ms-box-sizing: border-box;
}

.col-s-1
{
    width: 8.33333%;
}

.col-s-2
{
    width: 16.66667%;
}

.col-s-3
{
    width: 25%;
}

.col-s-4
{
    width: 33.33333%;
}

.col-s-5
{
    width: 41.66667%;
}

.col-s-6
{
    width: 50%;
}

.col-s-7
{
    width: 58.33333%;
}

.col-s-8
{
    width: 66.66667%;
}

.col-s-9
{
    width: 75%;
}

.col-s-10
{
    width: 83.33333%;
}

.col-s-11
{
    width: 91.66667%;
}

.col-s-12
{
    width: 100%;
}

.col-m-1
{
    width: 8.33333%;
}

.col-m-2
{
    width: 16.66667%;
}

.col-m-3
{
    width: 25%;
}

.col-m-4
{
    width: 33.33333%;
}

.col-m-5
{
    width: 41.66667%;
}

.col-m-6
{
    width: 50%;
}

.col-m-7
{
    width: 58.33333%;
}

.col-m-8
{
    width: 66.66667%;
}

.col-m-9
{
    width: 75%;
}

.col-m-10
{
    width: 83.33333%;
}

.col-m-11
{
    width: 91.66667%;
}

.col-m-12
{
    width: 100%;
}

.col-l-1
{
    width: 8.33333%;
}

.col-l-2
{
    width: 16.66667%;
}

.col-l-3
{
    width: 25%;
}

.col-l-4
{
    width: 33.33333%;
}

.col-l-5
{
    width: 41.66667%;
}

.col-l-6
{
    width: 50%;
}

.col-l-7
{
    width: 58.33333%;
}

.col-l-8
{
    width: 66.66667%;
}

.col-l-9
{
    width: 75%;
}

.col-l-10
{
    width: 83.33333%;
}

.col-l-11
{
    width: 91.66667%;
}

.col-l-12
{
    width: 100%;
}

.col-s-12,
.col-m-12,
.col-l-12
{
    float: none;
}

/* --------------------------------------------------
 * header
 * -------------------------------------------------- */
.header
{
    position: fixed;
    z-index: 101; 
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    text-align: center;

    background: #222;
}

.logo
{
    position: absolute;
    top: 10px;
    left: .5em;
}

.nav
{
    font-size: 1.5em; 

    text-align: right;
}
.nav-toggle
{
    font-size: 25px;

    width: 36px;
    height: 36px;
    padding: 5px;
}
.nav-list
{
    font-size: 12px;

    position: absolute;
    z-index: 10; 
    top: 60px;
    right: 0;
    left: 0;

    display: none;

    padding: 0 1em;

    text-align: left;

    background: #222;
    -webkit-box-shadow: 0 5px 5px rgba(125, 125, 125, .1), -1px 1px 1px rgba(0, 0, 0, .1);
       -moz-box-shadow: 0 5px 5px rgba(125, 125, 125, .1), -1px 1px 1px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 5px rgba(125, 125, 125, .1), -1px 1px 1px rgba(0, 0, 0, .1);
}
.nav-list a
{
    color: #fff;
}
.nav-list.is-open
{
    display: block;
}

.nav
{
    text-align: right;
}
.nav-list
{
    position: relative;
    top: 12px;
    right: auto;
    left: auto;

    display: inline-block;
    overflow: visible;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none; 

    max-heeight: auto;
}
.nav-d1
{
    position: relative;

    display: inline-block;

    margin: 0 1em;
}
.nav-toggle,
.nav-close
{
    display: none;
}

/* --------------------------------------------------
 * footer
 * -------------------------------------------------- */
.share .l-wrap
{
    padding: 0 0 50px;

    text-align: center;

    background: #fff;
}

.share a
{
    font-size: 18px;

    color: #666;
}

.footer
{
    clear: both;
}

.footer .l-wrap
{
    padding: 20px 0 10px;

    border-top: 1px solid #f3f3f3;
}

.footer .info
{
    font-size: 11px;
}

.footer .info span
{
    font-size: 7px;
}

.footer .info .copyright
{
    font-size: 10px;

    padding-top: 5px;

    text-transform: uppercase;
}

.footer .sns
{
    text-align: right;
}

@media all and (max-width: 320px)
{
    .footer .l-wrap
    {
        padding: 10px 0 0;
    }
    .footer .info,
    .footer .sns
    {
        font-size: .75em; 

        text-align: center;
    }
}

@media all and (max-width: 960px)
{
    .footer .l-wrap
    {
        padding: 10px 0 0;
    }
    .footer .info,
    .footer .sns
    {
        font-size: .75em; 

        text-align: center;
    }
}

/* --------------------------------------------------
 * common modules
 * -------------------------------------------------- */
.func
{
    text-align: center;
}
.func.__left
{
    text-align: left;
}
.func.__right
{
    text-align: right;
}

.loading
{
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
}

.serif
{
    font-family: 'Iropke Batang', serif;
}

.sans
{
    font-family: 'Spoqa Han Sans', sans-serif;
}

.main
{
    position: relative;

    min-height: 300px;
    margin-top: 80px; 

    outline: none;
}

#wrap
{
    background: #f3f3f3;
}

#content
{
    padding: 30px 30px; 

    background: #fff;
}

/* For print */
@media print
{
    body
    {
        margin: 0;
    }
    header,
    footer
    {
        display: none !important;
    }
}

/* Legacy browser message 
-------------------------------------------------- */
#legacy-browser
{
    font-size: 14px; 

    position: fixed;
    z-index: 1001;
    top: 120px;
    left: 50%;

    overflow: hidden;

    width: 840px;
    margin-left: -580px;
    padding-right: 100px;
    padding-left: 220px;

    color: #fff;
    background-color: #37ab94;
}
#legacy-browser p
{
    margin: 0 0 10px;
}
#legacy-browser a
{
    text-decoration: underline; 

    color: #fff;
}

.legacy-pad
{
    padding: 20px;
}

#close-browser-guide
{
    position: absolute;
    top: 50%;
    right: 30px;

    margin-top: -16px;

    color: #fff; 
    border: 1px solid #fff;
}
#close-browser-guide .icon:before
{
    margin-left: 5px; 

    content: 'X';
}
