<footer id="footer" class="footer">
  <div class="l-wrap">
    <div class="footer-link">
      <nav class="footer-sns">
        <a href="http://cafe.naver.com/isakakotaro/" target="_blank">NAVER CAFE</a>
        <a href="/sitemap.html">SITEMAP</a>
      </nav>
    </div>
    <div class="footer-info">
      <p>
        Version <a href="/version.html">1.3.0</a>
        Contact <a href="mailto:pigjh1@gmail.com">pigjh1@gmail.com</a><br>
        <span class="copyright">Copyright 2015-2018. isakakotaro all rights reserved.</span>
      </p>
    </div>
  </div>
</footer>
