<div id="skipnav">
  <a href="#navbar">주메뉴 바로가기</a>
  <a href="#content">본문 바로가기</a>
</div>

<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="#" class="menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title"><img src="/assets/img/isakakotaro.png" alt="Isaka Kotaro"></span>
    </section>
    <nav>
      <a href="/profile.html">Pofile</a>
      <a href="/book.html">Book</a>
      <a href="/world.html">Isaka World</a>
      <a href="/event.html">Share</a>
    </nav>
  </div>
</header>

<!-- <aside class="mdc-drawer mdc-drawer--temporary mdc-typography mdc-drawer--open"> -->
<aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
  <nav class="mdc-drawer__drawer">
    <header class="mdc-drawer__header">
      <div class="mdc-drawer__header-content mdc-theme--on-primary mdc-theme--primary-bg">
        Material Guide
      </div>
    </header>
    <nav class="mdc-drawer__content mdc-list-group">
      <div id="icon-with-text-demo" class="mdc-list">
        <a class="mdc-list-item" href="/profile.html">작가소개</a>
      </div>
      <hr class="mdc-list-divider">
      <div id="icon-with-text-demo" class="mdc-list">
        <a class="mdc-list-item" href="/book.html">작품소개</a>
        <a class="mdc-list-item" href="/remix.html">미디어리믹스</a>
      </div>
      <hr class="mdc-list-divider">
      <div id="icon-with-text-demo" class="mdc-list">
        <a class="mdc-list-item" href="/world.html">이사카 월드</a>
        <a class="mdc-list-item" href="/character.html">작품별 등장인물 소개</a>
        <a class="mdc-list-item" href="/crossing.html">작품 속 교차점</a>
        <!-- <a class="mdc-list-item" href="/goods.html">굿즈정보</a> -->
        <!-- <a class="mdc-list-item" href="/quiz.html">퀴즈</a> -->
        <!-- <a class="mdc-list-item" href="/sendai.html">센다이정보</a> -->
      </div>
      <hr class="mdc-list-divider">
      <div class="mdc-list">
        <a class="mdc-list-item" href="/event.html">이벤트</a>
        <a class="mdc-list-item" href="/bookcase.html">책장소개</a>
        <a class="mdc-list-item" href="/relay.html">독서 릴레이</a>
        <a class="mdc-list-item" href="/calendar.html">공개 캘린더</a>
        <a class="mdc-list-item" href="/link.html">링크</a>
      </div>
      <!-- <hr class="mdc-list-divider"> -->
      <!-- <div class="mdc-list">
        <a class="mdc-list-item mdc-list-item--selected" href="/sitemap.html">사이트맵</a>
      </div> -->
    </nav>
  </nav>
</aside>
