  <div class="share">
  	<a href="https://twitter.com/intent/tweet?url=cururl" target="_blank"><i class="icon icon-twitter"><span class="a11y">트위터에 공유하기</span></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=cururl" target="_blank"><i class="icon icon-facebook"><span class="a11y">페이스북에 공유하기</span></i></a>
  	<a href="https://plus.google.com/share?url=cururl" target="_blank"><i class="icon icon-googleplus"><span class="a11y">구글플러스에 공유하기</span></i></a>
  	<!-- <a href="https://story.kakao.com/share?url=cururl" target="_blank"><i class="icon icon-kakaostory"><span class="a11y">카카오스토리에 공유하기</span></i></a> -->
  	<a href="https://www.evernote.com/clip.action?url=cururl" target="_blank"><i class="icon icon-evernote"><span class="a11y">에버노트에 담기</span></i></a>
  </div>
