/* --------------------------------------------------
 * fonts.css - font family
 * -------------------------------------------------- */
@charset 'UTF-8';

/* Spoqa Han San */
@font-face {
	font-family: 'Spoqa Han Sans';
	font-style: normal;
	font-weight: 400;
	src: local('SpoqaHanSans-Regular'), 
			 local('SpoqaHanSans-Regular'),
			 url(/static/fonts/SpoqaHanSans-Regular.eot) format('eot'),
			 url(/static/fonts/SpoqaHanSans-Regular.svg) format('svg'),
			 url(/static/fonts/SpoqaHanSans-Regular.ttf) format('truetype'),
			 url(/static/fonts/SpoqaHanSans-Regular.woff) format('woff');
}

/* Iropke Batang */
@font-face {
	font-family: 'Iropke Batang';
	font-style: normal;
	font-weight: 400;
	src: url(/static/fonts/IropkeBatang.eot);
	src: url(/static/fonts/IropkeBatang.eot?#iefix) format('embedded-opentype'),
			 url(/static/fonts/IropkeBatang.woff) format('woff'),
			 url(/static/fonts/IropkeBatang.ttf) format('truetype');
}