@charset 'UTF-8';

/* --------------------------------------------------
 * pagination
 * -------------------------------------------------- */
.cover {
	$book-w: 100;
	$book-h: 150;

	// temp
	&-wrap {
		margin-left: 200px;
	}

	// common
	img {
		height: 100%;
	}
	figcaption {
		padding-left: 40px;
		text-align: left;
		position: absolute;
		top: 0%;
		left: $book-w + px;
		width: 310px;
		-webkit-backface-visibility: hidden;
	}
	& {
		position: relative;
		width: $book-w + px; 
		height: $book-h + px;
		perspective: 1000px;
		transform-style: preserve-3d;
	}

	&-front li:first-child:after,
	&-front li:first-child:before,
	&-front li:last-child:after,
	&-front li:last-child:before,
	&-back li:first-child:after,
	&-back li:first-child:before,
	&-back li:last-child:after,
	&-back li:last-child:before,
	&-spine li:first-child:after,
	&-spine li:first-child:before,
	&-spine li:last-child:after,
	&-spine li:last-child:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		background: #999;
	}

	&-front,
	&-back,
	&-spine,
	&-front li,
	&-back li,
	&-spine li {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
	}

	// front, back
	&-front {
		transform: rotateY(-34deg) translateZ(8px);
		z-index: 100;
	}

	&-back {
		transform: rotateY(-15deg) translateZ(-8px);
	}

	&-front li:first-child {
		background-color: #eee;
		backface-visibility: hidden;
	}

	&-front li:last-child,
	&-back li:first-child,
	&-back li:last-child {
		background: #fffbec;
	}

	&-front,
	&-back {
		transform-origin: 0% 100%;
	}

	&-front {
		transition: all 0.8s ease, z-index 0.6s;
	}

	&-front li:first-child {
		cursor: default;
		user-select: none;
		transform: translateZ(2px);
	}

	&-front li:last-child {
		transform: rotateY(180deg) translateZ(2px);
	}

	&-back li:first-child {
		transform: translateZ(2px);
	}

	&-back li:last-child {
		transform: translateZ(-2px);
	}

	&-front li:first-child:after,
	&-front li:first-child:before,
	&-back li:first-child:after,
	&-back li:first-child:before {
		width: 4px;
		height: 100%;
	}

	&-front li:last-child:after,
	&-front li:last-child:before,
	&-back li:last-child:after,
	&-back li:last-child:before {
		width: 4px;
		height: 100px;
	}

	&-front li:first-child:after,
	&-back li:first-child:after {
		transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	}
	&-front li:first-child:before,
	&-back li:first-child:before {
		transform: rotateY(90deg) translateZ($book-w - 2px) translateX(2px);
	}
	&-front li:last-child:after {
		transform: rotateX(90deg) rotateZ(90deg) translateZ(50px) translateX(-2px) translateY(-48px);
	}
	&-front li:last-child:before {
		box-shadow: 0px 0px 30px 5px #333;
		transform: rotateX(90deg) rotateZ(90deg) translateZ(-100px) translateX(-2px) translateY(-48px);
	}
	&-back li:last-child:after {
		transform: rotateX(90deg) rotateZ(90deg) translateZ(50px) translateX(2px) translateY(-48px);
	}
	&-back li:last-child:before {
		box-shadow: 10px -1px 120px 20px #666;
		transform: rotateX(90deg) rotateZ(90deg) translateZ(-100px) translateX(2px) translateY(-48px);
	}

	// page
	&-page {
		li {
			background: #fffbf6;
			@include gradient(90deg, #e1ddd8 0%, #fffbf6 100%);
			box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
			border-radius: 0px 5px 5px 0px;

			&:nth-child(1) {
				@include transform(rotateY(-28deg));
			}

			&:nth-child(2) {
				@include transform(rotateY(-30deg));
			}

			&:nth-child(3) {
				@include transform(rotateY(-32deg));
			}

			&:nth-child(4) {
				@include transform(rotateY(-34deg));
			}

			&:nth-child(5) {
				@include transform(rotateY(-36deg));
			}
		}
	}

	&-page,
	&-page > li {
		position: absolute;
		top: 0;
		left: 0;
		transform-style: preserve-3d;
	}

	&-page {
		width: 100%;
		height: 98%;
		top: 1%;
		left: 3%;
		z-index: 10;

		li {
			width: 100%;
			height: 100%;
			text-align: center;
			transform-origin: left center;
			transition-property: transform;
			transition-timing-function: ease;
			
			a {
				display: block;
				margin-top: $book-h/2 - 20px;
			}

			&:nth-child(3) {
				@include transition-duration(0.4s);
			}

			&:nth-child(4) {
				@include transition-duration(0.5s);
			}

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(5) {
				@include transition-duration(0.6s);
			}
		}
	}

	// spine
	&-spine {
		transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
		width: 16px;
		z-index: 0;

		li:first-child {
			background: #eee;
			transform: translateZ(2px);
		}

		li:last-child {
			background: #333;
			transform: translateZ(-2px);
		}

		li:first-child:after,
		li:first-child:before {
			width: 4px;
			height: 100%;
		}
	}
	
	// ribbon
	&-ribbon {
		background: #c0392b;
		color: #fff;
		display: block;
		font-size: 0.7em;
		position: absolute;
		top: 11px;
		right: 1px;
		width: 40px;
		height: 20px;
		line-height: 20px;
		letter-spacing: 0.15em; 
		text-align: center;
		transform: rotateZ(45deg) translateZ(1px);
		backface-visibility: hidden;
		z-index: 10;

		&::before,
		&::after{
			position: absolute;
			content: "";
			top: -20px;
			width: 0;
			height: 0;
			border-bottom: 20px solid #c0392b;
			border-top: 20px solid transparent;
		}

		&::before{
			left: -20px;
			border-left: 20px solid transparent;
		}

		&::after{
			right: -20px;
			border-right: 20px solid transparent;
		}
	}

	// is-hoaver
	&:hover {
		.book-front {
			transform: rotateY(-145deg) translateZ(0);
			z-index: 0;
		}
		.book-page li {	
			&:nth-child(1) {
				transform: rotateY(-30deg);
				@include transition-duration(1.5s);
			}

			&:nth-child(2) {
				transform: rotateY(-35deg);
				@include transition-duration(1.8s);
			}

			&:nth-child(3) {
				transform: rotateY(-118deg);
				@include transition-duration(1.6s);
			}

			&:nth-child(4) {
				transform: rotateY(-130deg);
				@include transition-duration(1.4s);
			}

			&:nth-child(5) {
				transform: rotateY(-140deg);
				@include transition-duration(1.2s);
			}
		}
	}
}