@charset 'UTF-8';

/* --------------------------------------------------
 * buttons
 * -------------------------------------------------- */
%btn {
	position: relative;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-weight: normal;
	white-space: nowrap;
	text-transform: capitalize;

	@include box-sizing;
	@include transition(all .2s ease-out);
}

.btn {
	padding: 5px 15px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .02em;
	color: $white;
	border-color: $dark;
	background: $dark;
	border: 1px solid $silver-dark;
	border-color: rgba($silver-dark, .5);

	@extend %btn;
	@include radius(10px);
	&:hover,
	&:focus {
		text-decoration: none;

	}
	// button widh icon
	.icon {
		display: inline-block;
		margin-right: -10px;
		margin-left: 5px;
		vertical-align: 1px;
		font-size: 12px;
		line-height: 0;
	}
	// button color variation
	&-light {
		color: $white;
		border: 1px solid $silver;
		border-color: rgba($silver, .5);
		&:hover,
		&:focus {
			color: $dark;
			border-color: $white;
			background: $white;
		}
	}
	// button size variation
	&-wide {
		// wide
		display: block;
		width: 100%;
	}
	&-m {
		padding: 12px 40px;
		// middle
		font-size: 16px;
		line-height: 24px;
		.btn-solid {
			line-height: 28px;
		}
	}
	&-l {
		padding: 18px 58px;
		// large
		font-size: 16px;
		line-height: 24px;
		.btn-solid {
			line-height: 28px;
		}
	}
}
