@charset 'UTF-8';

/* --------------------------------------------------
 * common modules
 * -------------------------------------------------- */
.func {
	// margin-top: 4em;
	text-align: center;

	&.__left {
		text-align: left;
	}
	&.__right {
		text-align: right;
	}
}

.loading {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.serif {
	font-family: 'Iropke Batang', serif;
}
.sans {
	font-family: 'Spoqa Han Sans', sans-serif;
}

// main (content section)
.main {
	outline: none; // for skipnav
	min-height: 300px;
	position: relative;
	margin-top: 80px;
}
.clearfix {
	@extend %clearfix;
}


#wrap{background:#f3f3f3;}
#content{background:#FFF;padding:30px 30px;}




/* For print */
@media print{
	body{margin:0;}
	header, footer{display:none !important}
}
