/* --------------------------------------------------
* base styles
* -------------------------------------------------- */

body {
  padding: 0;
  font-size: 1em;
  line-height: $base-leading-ratio;
  color: $dark;
}
a {
  color: $dark;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
blockquote {
  margin: 1em 40px;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
ul, ol,
dl, dt, dd {
  margin: 0;
  padding: 0;
}
ul, ol, li {
  list-style: none;
}
i, em, address {
  font-style: normal;
}
figure, form {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: top;
}
label {
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
}
button, [type="button"], [type="reset"], [type="submit"] {
  box-sizing: content-box;
  padding: .4em 1em;
  border: 0 none;
  background: transparent;
  line-height: normal;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"],
select {
  vertical-align: middle;
}
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
textarea {
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: $fog;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
td {
  vertical-align: middle;
}

::-moz-selection,
::selection {
  background: $brand;
  color: $white;
  text-shadow: none;
}
::-webkit-input-placeholder,
:-moz-placeholder {
  color: $silver;
}

/* base layout
-------------------------------------------------- */
body,
input,
textarea,
select,
button {
  font-family: $font-default;
}
html {
  background-color: $white;
}
body {
  min-width: 320px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
p:first-child {
  margin-top: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}
em {
  color: $brand;
}
.mobile {
  a,
  button,
  input,
  textarea,
  select,
  [tabindex] {
    outline: 0 none;
  }
}

/* Skip navigation
-------------------------------------------------- */
#skipnav {
  position: absolute;
  left: -100%;
  background: $gray-dark;
  color: $white;
  font-size: 1.6em;
}
#skipnav:focus {
  display: block;
  position: fixed;
  left: 0;
  z-index: 29999;
  width: 100%;
  padding: 20px;

  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}
