@charset 'UTF-8';

#error {
  padding: 20px;
  text-align: center;
  color: #666;
}
#error h2 {
  font-family: verdana, tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 100%;
  color: black;
}
#error p {
  margin-top: 15px;
  font-size: 12px;
}
#error a {
  font-weight: bold;
  color: #666;
}
#error .bar {
  color: #a0a0a0;
}