@charset 'UTF-8';


.main-book {
	.item  {
		display: inline-block;
		margin: 10px;
		border: solid #fff;
		background: $white;
		border-width: 6px;
		@include shadow(1px 1px 5px #333);
		img {width: 80px;}
		&-cont {
			padding: 0 30px 30px;
		}
	}
}