@charset 'UTF-8';


.main-book {
	.item  {
		margin: 10px;
		border: solid #fff;
		background: $white;
		border-width: 6px;
		-webkit-box-shadow: 1px 1px 5px #333;
		-moz-box-shadow: 1px 1px 5px #333;
		box-shadow: 1px 1px 5px #333;
		img {width: 100px;}
	}
}