@charset 'UTF-8';

.movie-list {
	border-bottom: 1px solid #ddd;
	padding: 9px 0 24px;
}

.movie-img {
	float: left;
	img {
		width: 200px;
	}
}

.movie-info {
	float: left;
}

.comic-list {
	border-bottom: 1px solid #ddd;
	position: relative;
	width: 100%;
	padding: 9px 0 24px;
}

.comic-img {
	float: left;
	img {
		width: 80px;
	}
}

.comic-info {
	float: left;
}