
.ahiru-kamo, .golden-slumber, .potechi, .jyuryoku-p {width: 779px;height: 417px;}
.potechi .locapoint_name {color: #10654e;font-weight: bold;}
.jyuryoku-p .gmname {color: #00469d;font-weight: bold;}
.golden-slumber .gmname {color: #ed6d55;font-weight: bold;}
.ahiru-kamo .gmname {color: #0090e9;font-weight: bold;}